# 仮想環境を無視
backend/.venv/

# Pythonキャッシュを無視
**/__pycache__/
*.pyc

# VSCode設定を無視
.vscode/

# 環境変数
.env

# macOSの隠しファイル
.DS_Store

# Xcode関連
**/xcuserstate
**/xcuserdata/

# VCS関連（複数人開発で重要）
*.xccheckout
*.xcscmblueprint

# Xcodeビルド関連
frontend/build/
frontend/DerivedData/

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# DynamoDB Local Data and related files
docker-dynamodb-data/
dynamodb-local-metadata.json
dynamodb_local/